.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 95px;
  padding-bottom: 0;
  background-color: #f5f5f5;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.container {
  background-color: #eaeaea;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;

}

.container.blank {
  background-color: #fff;
  border:0;

}

/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}*/

/*.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}*/

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 320px) and (max-width: 568px){
  h2.panel-titler {

    padding-right: 0;
    padding-left: 0;
  }

  }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /*.jumbotron {
    border-bottom: 0;
  }*/
}

.chunky-form label {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #323b43;
    padding: 5px 0;
    text-align: left
}

th {
  background-color: #f5f5f5
}

tbody {
  background-color: #fff
}

.nav-li {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  background-color: #f5f5f5;
}

.wrapper {
  padding:30px;
}

.profilePic {
  font-size: 8em;
}

.navTile h2 {
  margin-top: 0;
}

.navbar > .container {
  background-color: transparent;
  border: 0;
}

.container.addAllBorders {
  border: 1px #ccc solid;
}

.vcenter {
    /*display: inline-block;*/
    vertical-align: middle;
    /*float: none;*/
}

.nav > li > a.navTop:hover, .nav > li > a.navTop:focus {
    text-decoration: none;
    background-color: #246B9C;
    color: #fff;
}

a.navTop {
  color: #fff;
  height: 51px;
}

ul > li.active {
  background-color: #246B9C;
}

.panel.panel-info.panel-noBorder {

    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
}

.panel-heading.panelStraight {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel-titler {
  color: #fff;
  padding-right: 70px;
  padding-left: 70px;
}

.noMargin{
  margin: 0;
}

/*.navHeight{
  min-height: 65px;
}*/